tignore
*deps
*~
*.swp
*.iml
.idea/
.settings
.cache
.DS_Store
target/
release/
.project
.classpath
.scala_dependencies
lib_managed/
src_managed/
*.log
*.jar
themis_metrics.out
coverage-report
nohup.out
dependency-reduced-pom.xml
test-web/.idea/
